:root {
  --main-color: #2ecc71;
  --main-modal-color: #27ae60;
  --second-color: #000000;
  --second-modal-color: rgba(43, 43, 43, .5);
}

html {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: #ffffff;
  background: url('/img/fondo.jpg') #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 2rem auto;
  overflow-x: hidden;
  max-width: 800px;
}

a {
  font-weight: bold;
  color: var(--second-color);
  transition: all .3s ease-out;
}

a:hover {
  color: var(--second-modal-color);
}

p {
  padding: 1rem;
  font-size: 1.5rem;
}

::selection {
  background-color: var(--second-color);
  color: var(--main-color);
}

.Header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Header h1 { word-wrap: break-word; }

.Header img {
  margin: 0 auto;
  display: block;
  max-width: 150px;
  border-radius: 50%;
}

.Header nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
}

.Main {
  position: relative;
  margin: 0 auto;
  padding-bottom: 56.25%; /* 16:9 */
}

